:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',
        sans-serif;
    /* font-family: 'Roboto',
        sans-serif; */
    background-color: var(--background);
    color: var(--text-base);
    background-color: transparent;

}

html {
    height: 100%;
}


body {
    margin: 25px;
    background-color: var(--background);
}

header {
    margin-bottom: 20px;
}

.loginHeader {
    margin-bottom: 30px;
}



.loginIconAndText {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.loginIconAndText img {
    margin-right: 10px;
}

.labelIcon {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


.textInput {
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid #afb6c29a;

    &:focus {
        outline: none;
        border-color: var(--primary-color);

    }
}



.emailIcon:before {
    content: "";
    position: absolute;
    /* 親を基準にポジションを決める。他の要素は無視 */
    left: 7px;
    top: 37px;
    bottom: 0;
    right: 0;
    background: url('images/mail.svg') no-repeat;
    width: 20px;
}

.emailIconWithColor:before {
    content: "";
    position: absolute;
    /* 親を基準にポジションを決める。他の要素は無視 */
    left: 7px;
    top: 37px;
    bottom: 0;
    right: 0;
    background: url('images/mail-focus.svg') no-repeat;
    width: 20px;
}



.passwordIcon:before {
    content: "";
    position: absolute;
    left: 7px;
    top: 37px;
    bottom: 0;
    // right: 0;
    background: url('images/lock.svg') no-repeat;
    width: 20px;
}

.passwordIconWithColor:before {
    content: "";
    position: absolute;
    left: 7px;
    top: 37px;
    bottom: 0;
    // right: 0;
    background: url('images/lock-focus.svg') no-repeat;
    width: 20px;
}

.passwordIcon:after {
    content: "";
    position: absolute;
    // left: 0; leftとrightがあるときはleftが勝ってしまう
    top: 37px;
    bottom: 0;
    right: 7px;
    background: url("images/eye.svg") no-repeat;
    width: 20px;
}

.remindMeCheckbox input {
    accent-color: var(--primary-color);
}

.forGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 10px;
}

.remindMeCheckbox {
    grid-column: 1/2;
    grid-row: 1/2;
}

.forgotMyPassword {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: right;
    text-decoration: none;
    font-size: 15px;
    color: var(--primary-color)
}

.login {
    grid-column: 1/3;
    grid-row: 2/3;
    height: 40px;
    border-radius: 5px;
    background-color: var(--primary-color);
    border: none;
    color: var(--background);
    font-weight: bold;
}

.signUp {
    color: var(--primary-color);
    text-align: center;
    font-weight: 300;
    font-size: 14px;


    a {
        color: var(--primary-color);
        text-decoration: none;
        font-weight: 600;

    }
}

@media screen and (min-width: 415px) {
    body {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    header {
        margin-top: 30px;
    }

    .forMobile {
        grid-column: 1/2;
    }

    .forPC {
        grid-column: 2/3;
        background: url(images/side-image.jpg) no-repeat;
        background-size: cover;
        min-height: 100vh;
    }

    .wholeLoginContentsForPCscreen {
        width: 80%;
        height: 80%;
        background-color: #24221f;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;

    }

    .loginHeader {
        margin-left: -60px;
    }


}